.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.listHeader {
    display: flex;
    margin: 30px 0 10px 0;
}

.listHeader h2 {
    color: #888;
    font-size: 20px;
    margin-left: 20px;
    user-select: none;
}

.settings {
    margin: 0 20px 0 auto;
    font-size: 15px;
}

hr {
    margin: 0 20px 10px 20px;
}

.menu {
    display: none;
    margin-left: 30px;
    margin-top: 15px;
}

.modeButton {
    background-color: white;
    color: #555;
    border: none;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modeButton:hover {
    background-color: red !important;
}

.modeButton svg {
    width: 20px;
    height: 20px;
}

.listTitle {
    color: #888;
    font-size: 20px;
    height: 30px;
    margin-left: 30px;
    user-select: none;
}

.listTitle span {
    font-size: 15px;
}

.detailsModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
    display: block;
}

.detailsModal .modal-content {
    position: relative;
}

.detailsModal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.noElements {
    align-items: center;
    color: #888;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    user-select: none;
}

/* Lista */
.mylist {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    margin: 0 30px 20px 30px;
}

.mylist:empty {
    margin-bottom: 0;
}

.anime {
    aspect-ratio: 3 / 5; 
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    transition: transform 200ms ease-in-out, background-color 200ms ease-in-out;
    will-change: transform, background-color;
}

.anime:hover {
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
}

.imageContainer {
    align-items: center;
    border-radius: 0.5rem;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 5px 5px 0 5px;
    overflow: hidden;
    position: relative;
}

.imageContainer a {
    display: inline-block;
}

.imageContainer img {
    border-radius: 0.5rem;
    display: block;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    user-select: none;
}

.anime h3 {
    color: #777;
    font-size: 15px;
    height: 30px;
    margin: 10px 0 20px 0;
    text-align: center;
}

.episodeCount {
    align-items: center;
    color: #555;
    display: flex;
    font-size: 15px;
    /* gap: 5px; */
    width: 100%;
    user-select: none;
}

.episodeCountText {
    white-space: nowrap;
    background-color: white; /* Quitar después de solucionar problemas con el contador */
}

/* ----- Botones ----- */
.ViewCheckText {
    margin-right: auto; 
}

.increaseButton, .decreaseButton {
    cursor: pointer;
}

.increaseButton:disabled, .decreaseButton:disabled {
    cursor: default;
    opacity: 0.5;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    visibility: hidden;
}

.anime:hover .buttonContainer {
    background: none;
    visibility: visible;
    gap: 5px;
}

.viewButton, .detailsButton, .delButton {
    align-items: flex-end;
    border-radius: 0.2rem;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    height: 1.7rem;
    text-align: center;
    width: 1.7rem;
}

.viewButton {
    background-color: #86dc86;
}

.detailsButton{
    background-color: lightskyblue;
}

.delButton {
    background-color: #e26161;
}

/* ----- Tooltips ----- */

/* Contenedor del tooltip */
.episodeTipContainer, .DelAnimeTip, .DetailsAnimeTip, .ViewAnimeTip, .collapsileTip {
    display: inline-block;
    position: relative;
}

/* Texto del tooltip */
.episodeCountTipText, .DelAnimeTipText, .DetailsAnimeTipText, .ViewAnimeTipText, .collapsileTipText {
    background-color: #555;
    border-radius: 6px;
    color: white;
    font-size: 12px;
    margin-bottom: 2px;
    padding: 5px 5px;
    text-align: center;
    user-select: none;
    visibility: hidden;
    
    /* Posición del texto */
    bottom: 125%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-20px); 
    
    /* Fade in tooltip */
    opacity: 0;
    transition: transform 350ms ease-in-out, opacity 350ms ease-in-out;
    will-change: transform, opacity;
}

/* Ajustes individuales (texto del tooltip) */
.episodeCountTipText, .DelAnimeTipText, .DetailsAnimeTipText, .ViewAnimeTipText {
    width: 120px;
}

/* Tooltip arrow */
.episodeCountTipText::after, .DelAnimeTipText::after, .DetailsAnimeTipText::after, .ViewAnimeTipText::after {
    border-color: #555 transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: 100%;
}

/* Mostrar el tooltip (hover) */
.episodeTipContainer:hover .episodeCountTipText, .DelAnimeTip:hover .DelAnimeTipText, .DetailsAnimeTip:hover .DetailsAnimeTipText, .ViewAnimeTip:hover .ViewAnimeTipText {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}