.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.mainContent {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.mainContent.visible {
    opacity: 0;
    pointer-events: none;
}

.listHeader {
    display: flex;
    margin: 20px 0 10px 0;
}

.listHeader h2 {
    color: #888;
    font-size: 20px;
    margin-left: 20px;
    user-select: none;
}

hr {
    margin: 0 20px 0 20px;
}

.detailsModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
    display: block;
}

.detailsModal .modal-content {
    position: relative;
}

.detailsModal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.noElements {
    align-items: center;
    color: #888;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    user-select: none;
}

/* Lista */
.mylist {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    margin: 20px 30px 20px 30px;
}

.anime {
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    transition: transform 200ms ease-in-out, background-color 200ms ease-in-out;
    will-change: transform, background-color;
}

.anime:hover {
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
}

.anime img {
    border-radius: 0.5rem;
    display: block;
    height: 250px;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
    user-select: none;
    width: 180px;
}

.anime h3 {
    color: #777;
    font-size: 14px;
    height: 30px;
    margin: 10px 0 10px 0;
    text-align: center;
    transition: all linear 200ms;
}

.episodeCount {
    align-items: center;
    color: #555;
    display: flex;
    font-size: 15px;
    /* gap: 5px; */
    width: 100%;
    user-select: none;
}

.episodeCountText {
    white-space: nowrap;
    background-color: white;
}

/* Botones, reordenar más tarde */
/* .increaseButton, .decreaseButton {
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
    font-size: 18px;
    height: 25px;
    width: 25px;
} */

/* .increaseButton {
    margin-right: auto;
}

.decreaseButton {
    margin-left: auto;
}

.increaseButton:disabled, .decreaseButton:disabled {
    cursor: default;
    opacity: 0.5;
} */

/* .episodeTipContainer {
display: flex;
align-items: center;
justify-content: center;
width: 80px;
} */

/* .episodeCountText, .ViewCheckText {
font-size: 15px;

user-select: none;
pointer-events: none;
text-align: center;
width: 100%;
} */

/* .increaseButton, .decreaseButton {
background: none;
border: none;
color: #555;
cursor: pointer;
font-size: 18px;
} */

.ViewCheckText {
    margin-right: auto; 
}

/* ----- Botones ----- */
.buttonContainer {
    display: flex;
    justify-content: flex-end;
    visibility: hidden;
}

.anime:hover .buttonContainer {
    background: none;
    visibility: visible;
    gap: 5px;
}

.viewButton, .detailsButton, .delButton {
    align-items: flex-end;
    border-radius: 0.2rem;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    height: 25px;
    width: 25px;
}

.viewButton {
    background-color: lightgreen;
}

.detailsButton{
    background-color: lightskyblue;
}

.delButton {
    background-color: #ff5c7a;
}

/* Enecoger tamaño del contenedor según cantidad de episodios */
/* .episodeCount.noDigits {
width: 40%;
}

.episodeCount.oneDigit {
width: 40%;
}

.episodeCount.twoDigits {
width: 45%;
}

.episodeCount.threeDigits {
width: 50%;
} */

/* ----- Tooltips ----- */

/* Contenedor del tooltip */
.episodeTipContainer, .DelAnimeTip, .DetailsAnimeTip, .ViewAnimeTip, .collapsileTip {
    display: inline-block;
    position: relative;
}

/* Texto del tooltip */
.episodeCountTipText, .DelAnimeTipText, .DetailsAnimeTipText, .ViewAnimeTipText, .collapsileTipText {
    background-color: #555;
    border-radius: 6px;
    color: white;
    font-size: 12px;
    margin-bottom: 2px;
    padding: 5px 5px;
    text-align: center;
    user-select: none;
    visibility: hidden;
    
    /* Posición del texto */
    bottom: 125%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-20px); 
    
    /* Fade in tooltip */
    opacity: 0;
    transition: transform 350ms ease-in-out, opacity 350ms ease-in-out;
    will-change: transform, opacity;
}

/* Ajustes individuales (texto del tooltip) */
.episodeCountTipText, .DelAnimeTipText, .DetailsAnimeTipText, .ViewAnimeTipText {
    width: 120px;
}

/* Tooltip arrow */
.episodeCountTipText::after, .DelAnimeTipText::after, .DetailsAnimeTipText::after, .ViewAnimeTipText::after {
    border-color: #555 transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: 100%;
}

/* Mostrar el tooltip (hover) */
.episodeTipContainer:hover .episodeCountTipText, .DelAnimeTip:hover .DelAnimeTipText, .DetailsAnimeTip:hover .DetailsAnimeTipText, .ViewAnimeTip:hover .ViewAnimeTipText {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}