@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.mainContent {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.mainContent.visible {
    opacity: 0;
    pointer-events: none;
}

.listHeader {
    display: flex;
    margin: 20px 0 10px 0;
}

.listHeader h2 {
    color: #888;
    font-size: 20px;
    margin-left: 20px;
    user-select: none;
}

hr {
    margin: 0 20px 0 20px;
}

.detailsModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
    display: block;
  }
  
  .detailsModal .modal-content {
    position: relative;
  }
  
  .detailsModal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
  }
  

.noElements {
    align-items: center;
    color: #888;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    user-select: none;
}

/* Lista */
.mylist {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 20px 30px 20px 30px;
}

.anime {
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    transition: all linear 200ms;
}

.anime:hover {
    background-color: lightgray;
    transform: scale(1.1);
}

.anime img {
    border-radius: 0.5rem;
    /* cursor: pointer; */
    display: block;
    height: 220px;
    margin: 0 auto;
    width: 190px;
    user-select: none;
}

.anime h3 {
    color: #777;
    font-size: 14px;
    height: 30px;
    margin: 10px 0 10px 0;
    text-align: center;
    transition: all linear 200ms;
}

.episodeCount {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: auto;
    position: relative;
    width: 90px;
}  

.episodeCountText, .ViewCheckText {
    align-items: center;
    color: #555;
    display: flex;
    font-size: 15px;
    height: 100%;
    justify-content: center;
    margin: 0 3px 0 3px;
    pointer-events: none; 
    user-select: none;
}

.ViewCheckText {
    margin-right: auto; 
}

/* ----- Botones ----- */
.buttonContainer {
    display: flex;
    justify-content: flex-end;
    visibility: hidden;
}

.increaseButton, .decreaseButton {
    background: none;
    border: none;
    cursor: pointer;
    height: 25px;
    width: 15px;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.increaseButton {
    left: 2px;
}

.increaseButton:disabled, .decreaseButton:disabled {
    opacity: 0.5;
    cursor: default;
}

.episodeCount.oneDigit .episodeCountText {
    margin-left: -10px;
}

.episodeCount.oneDigit .decreaseButton {
    left: 60px;
}

.episodeCount.twoDigits .episodeCountText {
    margin-left: 5px;
}

.episodeCount.twoDigits .decreaseButton {
    left: 75px;
}

.episodeCount.threeDigits .episodeCountText {
    margin-left: 15px;
}

.episodeCount.threeDigits .decreaseButton {
    left: 85px;
}

.anime:hover .buttonContainer {
    background: none;
    visibility: visible;
}

.viewButton, .detailsButton, .delButton {
    align-items: flex-end;
    border-radius: 0.2rem;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    height: 25px;
    width: 25px;
}

.viewButton {
    background-color: lightgreen;
    margin-right: 5px;
}

.detailsButton{
    background-color: lightskyblue;
    margin-right: 5px;
}

.delButton {
    background-color: #ff5c7a;
}

/* ----- Tooltips ----- */

/* Contenedor del tooltip */
.episodeTipContainer, .DelAnimeTip, .DetailsAnimeTip, .ViewAnimeTip, .collapsileTip {
    display: inline-block;
    position: relative;
}

/* Texto del tooltip */
.episodeCountTipText, .DelAnimeTipText, .DetailsAnimeTipText, .ViewAnimeTipText, .collapsileTipText {
    background-color: #555;
    border-radius: 6px;
    color: white;
    font-size: 12px;
    padding: 5px 5px;
    text-align: center;
    user-select: none;
    visibility: hidden;
    
    /* Posición del texto */
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Ajustes individuales (texto del tooltip) */
.episodeCountTipText, .DelAnimeTipText {
    width: 120px;
}

.DetailsAnimeTipText, .ViewAnimeTipText {
    width: 115px;
}

.episodeCount.oneDigit .episodeCountTipText {
    left: calc(50% - 5px);
}

.episodeCount.threeDigits .episodeCountTipText {
    left: calc(50% + 5px);
}

/* Tooltip arrow */
.episodeCountTipText::after, .DelAnimeTipText::after, .DetailsAnimeTipText::after, .ViewAnimeTipText::after {
    border-color: #555 transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: 100%;
}

/* Mostrar el tooltip (hover) */
.episodeTipContainer:hover .episodeCountTipText, .DelAnimeTip:hover .DelAnimeTipText, .DetailsAnimeTip:hover .DetailsAnimeTipText, .ViewAnimeTip:hover .ViewAnimeTipText {
    animation: fadeInDown 0.5s;
    opacity: 1;
    visibility: visible;
}