<app-alerts></app-alerts>

<div class="overlay" *ngIf="isModalOpen" (click)="closeDetails()"></div>

<!-- Contenido principal -->
<div *ngIf="showMainContent" class="mainContent">
    <!-- Título -->
    <div class="listHeader">
        <h2><i class="fa-regular fa-bookmark"></i> Mi Lista</h2>
    </div>
    
    <!-- Barra lateral -->
    <hr>
    
    <!-- Lista si está vacía -->
    <div *ngIf="isListEmpty" class="noElements">
        <span>Tal parece que aquí no hay nada.<br>¿Por qué no agregas algo a tu lista?</span>
    </div>
    
    <!-- Modal de detalles -->
    <div class="detailsModal" *ngIf="selectedAnime && isModalOpen">
        <div class="modal-content">
            <span class="close" (click)="closeDetails()">&times;</span>
            <h3>{{ selectedAnime.title }}</h3>
            <p> {{ selectedAnime.type }} </p>
        </div>
    </div>
    
    <!-- Lista -->
    <div *ngIf="animes_selected.length > 0" class="mylist">
        <div *ngFor="let anime of animes_selected" class="anime">            
            <div class="anime-content">
                <a [href]="anime.url" target="_blank" rel="noopener noreferrer"><img [src]="anime.image" alt="{{ anime.title }}"></a>
                <h3>{{ truncateAnimeName(anime.title, 50) }}</h3>
            </div>
            
            <!-- Contenedor de botones -->
            <div class="buttonContainer"> 
                <!-- Contador de episodios -->
                <div class="episodeCount"> <!-- [ngClass]="getEpisodeCountClass(anime)" -->
                    <ng-container *ngIf="!anime.markedAsViewed && anime.type !== 'Movie' && anime.status !== 'Not yet aired'; else viewedText">
                        <!-- Botón para incrementar el número de episodios -->
                        <button class="increaseButton" [disabled]="anime.watched_episodes === anime.total_episodes" (click)="increaseWatch(anime, $event)">
                            <i class="fa-solid fa-angle-up"></i>
                        </button>
                        
                        <!-- Contador de episodios (texto) -->
                        <div class="episodeTipContainer">
                            <span class="episodeCountText">{{ anime.watched_episodes }} / {{ anime.total_episodes ? anime.total_episodes : '?' }}</span>
                            <span class="episodeCountTipText">Has visto {{ anime.watched_episodes }} episodios</span>
                        </div>
                        
                        <!-- Botón para disminuir el número de episodios -->
                        <button class="decreaseButton" [disabled]="anime.watched_episodes === 0" (click)="decreaseWatch(anime, $event)">
                            <i class="fa-solid fa-angle-down"></i>
                        </button>
                    </ng-container>
                    
                    <ng-template #viewedText>
                        <div class="ViewCheckText" *ngIf="anime.markedAsViewed">
                            <span><i class="fa-solid fa-check-double"></i> Visto</span>
                        </div>
                    </ng-template>
                </div>
                
                <!-- Botón "Marcar como visto" -->
                <div class="ViewAnimeTip">
                    <button (click)="ViewAnime(anime)" class="viewButton"><i class="fa-regular" [ngClass]="{'fa-eye': !anime.markedAsViewed, 'fa-eye-slash': anime.markedAsViewed}"></i></button>
                    <span class="ViewAnimeTipText">{{ anime.markedAsViewed ? 'Marcar como no visto' : 'Marcar como visto' }}</span>
                </div>
                
                <!-- Botón para ver detalles -->
                <div class="DetailsAnimeTip">
                    <button (click)="openDetails(anime)" class="detailsButton"><i class="fa-regular fa-rectangle-list"></i></button>
                    <span class="DetailsAnimeTipText">Ver detalles</span>
                </div>
                
                <!-- Botón "eliminar de la lista" -->
                <div class="DelAnimeTip">
                    <button (click)="DelAnime(anime)" class="delButton"><i class="fa-regular fa-trash-can"></i></button>
                    <span class="DelAnimeTipText">Ya no me interesa</span>
                </div>
            </div>
        </div>
    </div>
</div>