<div class="menu">
   <span (click)="openNav()"><i class="fa-solid fa-bars"></i></span>
</div>

<!-- Menú de navegación lateral -->
<div class="overlay" *ngIf="isOpen" (click)="closeNav()"></div>

<div class="sidenav" [class.open]="isOpen">
   <button (click)="closeNav()" class="cerrar"><i class="fa-solid fa-xmark"></i></button>
   
   <div class="dataContainer">
      <input type="file" id="fileInput" (change)="importData($event)" accept=".csv">
      <label for="fileInput"><i class="fa-solid fa-cloud-arrow-up"></i> Importar datos</label>
      
      <label (click)="exportData()"><i class="fa-solid fa-cloud-arrow-down"></i> Exportar datos</label>
   </div>
</div>