<!-- Formulario de búsqueda -->
<form (ngSubmit)="search()" novalidate [ngClass]="{'searching': searching}">
    <input type="text" name="search" [(ngModel)]="searchTerm" placeholder="Realiza una búsqueda..." required [ngClass]="{'input-error': inputEmpty}">
    <button class="searchButton" (click)="search()"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>

<!-- Contenedor de resultados -->
<div class="overlay" *ngIf="resultsVisible" (click)="closeResultsContainer()"></div>

<div class="results-container" #resultsContainer id="results-container" [ngClass]="{'results-visible': resultsVisible, 'animate-closing': animateClosing}">
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
    
    <div class="resultsHeader">
        <h3>Resultados de búsqueda:</h3>
        <button (click)="closeResultsContainer()"><i class="fa-solid fa-xmark"></i></button>
    </div>
    
    <div class="noResults" *ngIf="noResultsFound">
        <p>No se han encontrado resultados.</p>
    </div>
    
    <ng-container *ngIf="anime_results.length > 0">
        <div class="result" *ngFor="let anime of anime_results">
            <img [src]="anime.images['jpg'].image_url" />
            <div class="details">
                <h3>{{ anime.title }}</h3>
                <p *ngIf="anime.synopsis" [title]="anime.synopsis">{{ anime.synopsis.slice(0, 400) }}...</p>
                <button (click)="addAnime(anime)"><i class="fa-regular fa-bookmark"></i>Añadir a mi lista</button>
            </div>
        </div>
    </ng-container>
</div>