/* Menú de búsqueda */
form {
    display: flex;
    margin: 20px;
    margin-left: auto;
    max-width: 500px;
}

form input {
    appearance: none;
    background: white;
    border: none;
    color: #888;
    display: block;
    font-size: 15px;
    outline: none;
    padding: 10px;
    user-select: none;
    width: 100%;
}

.searchButton, .searchInput {
    z-index: 1000;
}

.shake-placeholder {
    animation: shake 0.5s;
}

.searchButton {
    background-color: lightcoral;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    padding: 10px;
    transition: all linear 200ms;
    user-select: none;
}

.searchButton:hover {
    background-color: pink;
}

.searchButton i {
    margin-right: 5px;
}

/* Resultados de búsqueda */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: block;
}

.noResultsText { /* Esto necesita arreglo, no aparece.*/
    border: 1px solid #ccc;
    color: #555;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.results-container {
    background-color: white;
    border-radius: 2px;
    max-height: 550px;
    max-width: 500px;
    overflow-y: scroll;
    z-index: 9999;
    right: 20px;
    position: fixed;
}

.resultsHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.resultsHeader h3 {
    margin-left: 5px;
    color: #555;
    font-size: 16px;
}

.resultsHeader button, .addButton {
    background-color: lightcoral;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px;
    user-select: none;
    transition: all linear 200ms;
    margin-left: auto;
}

.addButton i {
    margin-right: 5px;
}

.resultsHeader button i {
    margin-right: 5px;
}

.resultsHeader button:hover, .addButton:hover {
    background-color: pink;
}

.result {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
}

.result img {
    width: 100px;
    border-radius: 0.5rem;
    user-select: none;
    margin-right: 1rem;
}

.details {
    flex: 1 1 0%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.details h3 {
    color: #555;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.details p {
    color: #555;
    font-size: 0.875rem;
    margin-bottom: 1rem;
    text-align: justify;
}