.alertWrapper {
    width: 420px;
    padding: 30px 20px;
    position: fixed;
    left: 50%;
    top: 10px;
    transform: translate(-50%, -100%);
    user-select: none;
    z-index: 1001;
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.alertWrapper.visible {
    transform: translate(-50%, 0);
    opacity: 1;
}

.alertWrapper button {
    background-color: transparent;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: 15px;
    right: 35px;
}

.alertWrapper button i {
    color: black;
}

.success {
    border-left: 8px solid #47D764;
}

.success i {
    color: #47D764;
}

.error {
    border-left: 8px solid #ff355b;
}

.error i {
    color: #ff355b;
}

.warning {
    border-left: 8px solid #ffc021;
}

.warning i {
    color: #ffc021;
}

.toast {
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
    display: grid;
    grid-template-columns: 1.3fr 6fr 0.5fr;
    height: 80px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
}

.container-1, .container-2 {
    align-self: center;
}

.container-1 i {
    font-size: 35px;
}

.container-2 p:first-child {
    color: #101020;
    font-size: 16px;
    font-weight: 600;
}

.container-2 p:last-child {
    color: #656565;
    font-size: 12px;
    font-weight: 400;
}