.results-container {
    background-color: white;
    border-radius: 2px;
    left: 0;
    margin: 30px 40px 40px;
    max-height: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    width: calc(100% - 80px);
}

.results-visible {
    max-height: calc(100vh - 80px);
    transition: max-height 500ms ease-in-out;
}

/* Loading gif */
.loadingGif {
    align-items: center;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    z-index: 1;
}

.loadingGif img {
    max-height: 100px;
    max-width: 100px;
}

.loadingGif p {
    color: #888;
    font-size: 20px;
}

/* Si no hay resultados */
.noResults p {
    align-items: center;
    color: #555;
    display: flex;
    justify-content: center;
    text-align: center;
    user-select: none;
    padding: 30px;
}

/* Header */
.resultsHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.resultsHeader h3 {
    margin-left: 6px;
    color: #555;
    font-size: 16px;
}

.resultsHeader button {
    background-color: transparent;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: 22px;
    margin-right: 6px;
    transition: all 200ms;
}

.resultsHeader button:hover {
    color: #555;
}

/* Barra de progreso */
.progress-container {
    height: 8px;
    background: #ccc;
    position: sticky;
    top: 0;
    z-index: 1;
}

.progress-bar {
    height: 8px;
    background: #009578;
    width: 0%;
}

/* Por cada resultado*/
.result {
    display: flex;
    margin: 1rem;
    margin-top: -1px;
    padding: 1rem;
    border: 1px solid #ccc;
}

.result img {
    border-radius: 0.5rem;
    margin-right: 1rem;
    max-width: 180px;
    object-fit: cover;
    object-position: center;
    user-select: none;
}

.details {
    flex: 1 1 0%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.details h3 {
    color: #555;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.details ul {
    list-style: none;
}

.details ul li {
    display: inline-block;
    margin-right: 5px;
}

.details ul li {
    color: white;
    padding: 5px;
    user-select: none;
    border-radius: 5px;
}

.episodes {
    background: #3C93D5;
}

.type {
    background: #e67e22;
}

.status {
    background: royalblue;
}

.genres {
    background: #2ecc71;
    display: inline-block;
    margin-right: 5px;
}

.hClass {
    background-color: #e74c3c;
}

.details p {
    color: #555;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-align: justify;
}

p[title] {
    pointer-events: none;
}

/* Botones */
.buttonContainer {
    display: flex;
    gap: 5px;
    margin-left: auto;
    margin-top: auto;
    user-select: none;
}

.buttonContainer button  {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: 30px;
    outline: none;
    transition: all linear 200ms;
    white-space: nowrap;
}

.buttonContainer .malButton {
    background: #2e51a2;
    color: white;
}

.buttonContainer .addButton {
    background: #009578;
    color: white;
}

.buttonContainer button:hover {
    filter: brightness(0.9);
}

.buttonIcon, .buttonText {
    align-items: center;
    color: white;
    display: inline-flex;
    height: 100%;
    padding: 10px;
}

.buttonIcon {
    background: rgba(0, 0, 0, 0.08);
    font-size: 1rem;
    justify-content: center;
    width: 40px;
}

.buttonIcon svg {
    width: 50px;
    height: 30px;
}

.buttonText {
    padding-left: 10px;
}