@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Menú de búsqueda */
form {
    background: white;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    height: 40px;
    margin-left: auto;
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 50px;
    transform: translateY(-50%);
    width: 370px;  
    z-index: 1000;
}

form input {
    background: none;
    border: none;
    color: #888;
    font-size: 14px;
    height: 20px;
    left: 45px;
    outline: none;
    position: absolute;
    top: 10px;
    user-select: none;
    width: 290px;
}

.searchButton {
    background: none;
    border: none;
    color: #555;
    cursor: pointer;
    font-size: 16px;
    height: 20px;
    left: 15px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    user-select: none;
    width: 20px;
}

.clearInput {
    background-color: transparent;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    right: 35px;
    transform: translateY(-50%);
    z-index: 1000;
}

.shake-placeholder {
    animation: shake 0.5s;
}

/* Resultados de búsqueda */
.noResults p {
    align-items: center;
    color: #555;
    display: flex;
    justify-content: center;
    text-align: center;
    user-select: none;
    padding: 30px;
}

.results-container {
    background-color: white;
    border-radius: 2px;
    margin-top: 30px;
    max-height: 0;
    max-width: 580px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    right: 20px;
    z-index: 1000;

    /* margin: 30px 100px 100px; */
}

.results-visible {
    max-height: 605px;
    transition: max-height 200ms ease-in-out;
}

.animate-closing {
    max-height: 0;
}

.resultsHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.resultsHeader h3 {
    margin-left: 6px;
    color: #555;
    font-size: 16px;
}

.resultsHeader button {
    background-color: transparent;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: 22px;
    margin-right: 6px;
    transition: all 200ms;
}

.resultsHeader button:hover {
    color: #555;
}

.progress-container {
    width: 580px;
    height: 8px;
    background: #ccc;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.progress-bar {
    height: 8px;
    background: #009578;
    width: 0%;
}

.result {
    display: flex;
    margin: 1rem;
    margin-top: -1px;
    padding: 1rem;
    border: 1px solid #ccc;
}

.result img {
    max-width: 180px;
    border-radius: 0.5rem;
    user-select: none;
    margin-right: 1rem;
}

.details {
    flex: 1 1 0%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.details h3 {
    color: #555;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.details ul {
    list-style: none;
}

.details ul li {
    display: inline-block;
    margin-right: 5px;
}

.details ul li p {
    color: white;
    padding: 5px;
    user-select: none;
    border-radius: 5px;
}

.details ul li .episodes {
    background: #3C93D5;
}

.details ul li .type {
    background: #e67e22;
}

.details ul li .genres {
    background: #2ecc71;
    display: inline-block;
    margin-right: 5px;
}

.details ul li .hClass {
    background-color: #e74c3c;
}

.details p {
    color: #555;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    text-align: justify;
}

.details button  {
    background: #009578;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: 30px;
    margin-left: auto;
    margin-top: auto;
    outline: none;
    transition: all linear 200ms;
    user-select: none;
    width: 155px;
}

.details button:hover {
    background: #008168;
}

.buttonIcon, .buttonText {
    align-items: center;
    color: white;
    display: inline-flex;
    height: 100%;
    padding: 10px;
}

.buttonIcon {
    background: rgba(0, 0, 0, 0.08);
    font-size: 1rem;
}