@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.overlay.active {
    pointer-events: auto;
}

/* Menú de navegación principal */
.menu {
    color: white;
    font-size: 25px;
    margin-left: 20px;
    position: absolute;
    top: 12px;
    user-select: none;
}

.menu span {
    cursor: pointer;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    line-height: 25px;
    margin-left: 15px;
    text-decoration: none;
}

/* Formulario de búsqueda */
form {
    align-items: center;
    background: white;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    height: 40px;
    margin-right: 20px;
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: 50px;
    transform: translateY(-50%);
    width: 370px;
    z-index: 1;
}

form input {
    background: none;
    border: none;
    color: #888;
    flex-grow: 1;
    font-size: 14px;
    margin: 0 20px 0 20px;
    outline: none;
    padding: 10px;
}

/* Google Chrome, Safari, Edge */
form input::-webkit-input-placeholder {
    user-select: none;
}

/* Firefox 4-18 */
form input:-moz-placeholder {
    user-select: none;
}

/* Firefox 19+ */
form input::-moz-placeholder {
    user-select: none;
}

/* Microsoft Edge */
form input::-ms-input-placeholder {
    user-select: none;
}

.searchButton, .clearInput {
    align-items: center;
    background: none;
    border: none;
    color: #555;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 20px;
    justify-content: center;
    position: absolute;
    user-select: none;
    width: 20px;
}

.searchButton {
    left: 15px;
}

.clearInput {
    right: 15px;
}

.shake-placeholder {
    animation: shake 0.5s;
}

/* Menú de navegación lateral */
.sidenav {
    background-color: #555;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    padding-top: 40px;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: 0.5s;
    width: 250px;
    z-index: 2;
}

.sidenav.open {
    transform: translateX(0);
}

.cerrar {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    margin: 0 80px 0 20px;
    gap: 5px;
}

.dataContainer input[type="file"] {
    display: none;
}

.dataContainer label, .dataContainer span {
    background-color: transparent;
    border: none;
    bottom: 20px;
    color: white;
    cursor: pointer;
    left: 20px;
    user-select: none;
}

.dataContainer label:hover, .dataContainer span:hover {
    background-color: rgba(255, 255, 255, 0.1);
}