<app-alerts></app-alerts>

<!-- Menú de navegación principal (header) -->
<div class="menu">
    <span (click)="openNav()"><i class="fa-solid fa-bars"></i></span>
    <span class="title" (click)="goHome()">My Anime Tracker</span>
</div>

<!-- Formulario de búsqueda -->
<form (ngSubmit)="search()">
    <button type="button" class="searchButton" (click)="search()"><i class="fa-solid fa-magnifying-glass"></i></button>
    <input type="text" name="search" class="search-input" [(ngModel)]="searchTerm" spellcheck="false" placeholder="Realiza una búsqueda..." required [ngClass]="{'input-error': inputEmpty}" />
    <button type="button" class="clearInput" (click)="clearInput()"><i class="fa-solid fa-xmark"></i></button>
</form>

<!-- Menú de navegación lateral -->
<div class="overlay" *ngIf="isOpen" (click)="closeNav()"></div>

<div class="sidenav" [class.open]="isOpen">
    <button (click)="closeNav()" class="cerrar"><i class="fa-solid fa-xmark"></i></button>
    
    <div class="dataContainer">
        <!-- Opción para importar datos -->
        <input type="file" id="fileInput" (change)="importData($event)" accept=".json">
        <label for="fileInput"><i class="fa-solid fa-cloud-arrow-up"></i> Importar datos</label>
        
        <!-- Opción para exportar datos -->
        <span (click)="exportData()"><i class="fa-solid fa-cloud-arrow-down"></i> Exportar datos</span>
        
        <!-- Opción para eliminar datos -->
        <span (click)="nukeData()"><i class="fa-regular fa-trash-can"></i> Eliminar datos</span>
    </div>
</div>